*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: $c-lt-gray-40;
  text-rendering: optimizeSpeed;
  font-size: 1.8rem;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  position: relative;

  &::before {
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 24rem;
    display: inline-block;
    background-color: black;
    background-image: url(../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    @include md {
      height: 32rem;
      background-image: url(../images/bg-desktop-light.jpg);
    }
  }
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type="text"] {
  border: 0;
  border-radius: 0.4rem;
  padding: 1.6rem;
  font-size: 1.2rem;
  width: 100%;

  @include md {
    font-size: $fs-18;
  }
}

button {
  background-color: transparent;
  border: 0;
}

//Utilities
.container {
  margin: 0 auto;
  max-width: 64rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

//Layout
.header {
  padding: 4rem 0;
  display: flex;
  color: $c-lt-white;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: $fs-32;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4rem;

    @include md {
      font-size: $fs-40;

      letter-spacing: 0.6rem;
    }
  }

  &__theme-switcher {
    cursor: pointer;

    img {
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.todo {
  font-size: $fs-12;

  @include md {
    font-size: $fs-18;
  }

  &__content {
    background-color: white;
    border-radius: 0.4rem;
    margin-top: 1.6rem;
    box-shadow: 0 16px 32px rgba($c-lt-gray-40, 0.3);
    position: relative;
  }

  &__list {
    li {
      padding: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $c-lt-gray-10;

      .text {
        position: relative;
        top: 2px;
      }

      label {
        cursor: pointer;
        align-items: center;
        display: flex;
      }

      label:hover .checkbox:not(:checked) {
        border: 1px solid $c-lt-gray-30;
      }

      .checkbox {
        -webkit-appearance: none;
        border: 1px solid $c-lt-gray-10;
        width: 18px;
        margin-right: 12px;
        height: 18px;
        border-radius: 50%;

        @include md {
          width: 24px;
          height: 24px;
        }

        &:checked {
          background-image: url(../images/icon-check.svg), #{$c-p-grad};
          background-repeat: no-repeat;
          background-position: center;
          border: 0;
        }

        &:checked ~ span {
          text-decoration: line-through;
          text-decoration-thickness: 2px;
          opacity: 0.6;
        }
      }

      .icon-close {
        width: 24px;
        height: 24px;
        cursor: pointer;

        @include md {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  &__info {
    font-size: $fs-14;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 1.6rem 0.8rem;
    align-items: center;
  }

  .filter {
    display: flex;
    background-color: white;
    position: absolute;
    bottom: -6.4rem;
    width: 100%;
    border-radius: 0.4rem;
    padding: 1.6rem;
    left: 0;
    box-shadow: 0 16px 32px rgba($c-lt-gray-40, 0.3);
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

    @include md {
      padding: 0;
      position: relative;
      bottom: 0;
      left: 0;
      box-shadow: none;
      width: auto;
      background: none;
      gap: 2.4rem;
      display: flex;
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    input[type="radio"]:checked + label {
      color: $c-p-blue;
    }

    label {
      color: $c-lt-gray-30;
      cursor: pointer;

      &:hover {
        color: $c-lt-gray-40;
      }
    }
  }
}

.footer {
  font-size: $fs-14;
  text-align: center;
  position: absolute;
  bottom: 4.8rem;
  left: 50%;
  transform: translateX(-50%);

  @include md {
    font-size: $fs-18;
  }
}
